.page-enter-active, .page-leave-active {
  transition: all .25s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
.card-title {
  margin-bottom: .75rem;
  font-weight: 500;
  line-height: 1.2;
}

.h2 {
  font-size: 2rem;
}
.card-body {
  padding: 1.25rem;
}
