.page-enter-active, .page-leave-active {
  transition: all .12s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
.card-body {
  padding: 1.25rem;
  > h1,h2 {
    margin-bottom: .75rem;
    font-weight: 400;
    line-height: 1.2;
  }
  > h2 {
    font-size: 2rem;
  }
  > ul {
    padding-left: 1.25rem;
  }
}
:not(.wf-istokweb-n4-active) * {
  font-family: sans-serif;
}
.wf-istokweb-n4-active * {
  font-family: 'Istok Web';
}
html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tooltip__content {
  font-size: 16px;
}
.application.theme--light {
  background-color: #e1e2e1;
}
